@model RentalHouseFinding.Models.ManagePostsModel
@{
    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~"));
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Quản lí bài đăng";
}
<script>
    $(document).ready(function () {
        $('a[href="#"]').live('click', function (event) {
            event.preventDefault();
        });
        $("#created_date_from").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#created_date_to").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#edited_date_from").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#edited_date_to").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#renewed_date_from").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#renewed_date_to").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#expire_date_from").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#expire_date_to").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
    });
</script>
<script src="@Url.Content("~/Scripts/RHFScripts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<script>
    $(document).ready(function () {
        $("#grid th")[5].setAttribute('id', '8');
        $('#8').prepend('<img id="theImg" src="../../Content/images/down.png" />')
    });
</script>

<script type="text/javascript">

    function setArrows() {
        var dir = $('#dir').val();
        var col = $('#col').val();
        var header = $('th a[href*=' + col + ']');
        var i = -1;
        if (col == 'User') {
            i = 1;
        }
        if (col == 'Title') {
            i = 2;
        }
        if (col == 'Category') {
            i = 3;
        }
        if (col == 'PostStatus') {
            i = 4;
        }
        if (col == 'CreatedDate') {
            i = 5
        }
        if (col == 'EditedDate') {
            i = 6;
        }
        if (col == 'RenewDate') {
            i = 7;
        }
        if (col == 'ExpiredDate') {
            i = 8;
        }
        if (col == 'CountRenew') {
            i = 9;
            if (dir == 'Ascending') {
                $("#grid th")[i].setAttribute('id', '8');
                $('#8').prepend('<img id="theImg" src="../../Content/images/down.png" />')
            }
            if (dir == 'Descending') {
                $("#grid th")[i].setAttribute('id', '8');
                $('#8').prepend('<img id="theImg" src="../../Content/images/up.png" />')
            }
            return;
        }
        if (dir == 'Ascending') {
            $("#grid th")[i].setAttribute('id', '8');
            $('#8').prepend('<img id="theImg" src="../../Content/images/up.png" />')
        }
        if (dir == 'Descending') {
            $("#grid th")[i].setAttribute('id', '8');
            $('#8').prepend('<img id="theImg" src="../../Content/images/down.png" />')
        }
    };
</script>

@using (Html.BeginForm("Index", "ManagePosts", FormMethod.Post))
{
    <fieldset>
        <table>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Tỉnh/Thành phố
            </th>
            <th>
                Quận/Huyện
            </th>
            <th>
                Phân loại
            </th>
            <th>
                Trạng thái
            </th>
        </tr>
            <tr>
            <td>@Html.DropDownListFor(model => model.UserId, 
                    (IEnumerable<SelectListItem>)ViewBag.Users, 
                    "User", 
                    new {@class="selectAd"})
                @Html.ValidationMessageFor(model => model.UserId)</td>
            <td>@Html.DropDownListFor(model => model.ProvinceId, 
                    (IEnumerable<SelectListItem>)ViewBag.Provinces,
                    "Tỉnh/Thành phố", 
                    new {@class="selectAd"})
                @Html.ValidationMessageFor(model => model.ProvinceId)</td>
            <td>@Html.DropDownListFor(model => model.DistrictId,
                    (IEnumerable<SelectListItem>)ViewBag.Districts,
                    "Chọn Quận/Huyện", new { @class="selectAd" })
                @Html.ValidationMessageFor(model => model.DistrictId)</td>
            <td>@Html.DropDownListFor(model => model.CategoryId,
                    (IEnumerable<SelectListItem>)ViewBag.Categories,
                    "Phân loại", new { @class="selectAd" })
                @Html.ValidationMessageFor(model => model.CategoryId)</td>
            <td>@Html.DropDownListFor(model => model.StatusId,
                    (IEnumerable<SelectListItem>)ViewBag.Statuses,
                    "Trạng thái", new { @class="selectAd" })
                @Html.ValidationMessageFor(model => model.StatusId)</td>
            </tr>
        </table>
        <table>
        <tr>
            <th>
                Ngày tạo
            </th>
            <th>
                Lần sửa cuối
            </th>
            <th>
                Lần gia hạn cuối
            </th>
            <th>
                Ngày hết hạn
            </th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(model => model.CreatedDateFrom, 
                        new { @id = "created_date_from", @placeholder = "Từ" })<br/>
                @Html.TextBoxFor(model => model.CreatedDateTo,
             new { @id = "created_date_to", @placeholder = "Đến" })</td>

            <td>@Html.TextBoxFor(model => model.EditedDateFrom,
              new { @id = "edited_date_from", @placeholder = "Từ" })<br/>
                @Html.TextBoxFor(model => model.EditedDateTo,
                    new { @id = "edited_date_to", @placeholder = "Đến" })</td>

            <td>@Html.TextBoxFor(model => model.RenewedDateFrom,
                        new { @id = "renewed_date_from", @placeholder = "Từ" })<br/>
                @Html.TextBoxFor(model => model.RenewedDateTo,
                    new { @id = "renewed_date_to", @placeholder = "Đến" })</td>

            <td>@Html.TextBoxFor(model => model.ExpireDateFrom,
                        new { @id = "expire_date_from", @placeholder = "Từ" })<br/>
                @Html.TextBoxFor(model => model.ExpireDateTo,
             new { @id = "expire_date_to", @placeholder = "Đến" })</td>
        </tr>
        </table>
          <div style="float:left;width:100%;background:white;">
        <div style="float:left;"><input type="submit" class="searchLink" value="Search" id="search"/></div>
         <div style="float:left; margin-left:20px;margin-top:20px;">
         @Html.CheckBoxFor(model => model.IsDelete, new { @class = "styledCheckbox" })<div style="margin-top: -3px;
    width: 115px;">Bài viết đã xóa&nbsp<br /></div>
         </div>  
         </div>
    </fieldset>
}
<br>
<div id="container-grid">
@{
    if (Model != null && Model.Grid.TotalRowCount > 0)
    {
        WebGrid grid = Model.Grid;
        <div id="adminResultText">Tìm thấy @grid.TotalRowCount bài đăng phù hợp</div>
        @grid.GetHtml(tableStyle: "webGrid", mode: WebGridPagerModes.All,
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            htmlAttributes: new { id = "grid" },
                            columns: grid.Columns(
                                     grid.Column(header: "STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + ViewBag.Index),
                                     //grid.Column("ID", "Id"),
                                     grid.Column("User", "Người đăng", format: (item) => String.IsNullOrEmpty(item.User)?"Khách":item.User),
                                grid.Column(columnName:"Title", header: "Tiêu đề", format: @<text>
                                        <a href="@Url.Action("Details",
                                        "Post",
                                        new { id = @item.ID })">@item.Title</a></text>),
                                grid.Column("Category", "Phân loại"),
                                grid.Column("PostStatus", "Trạng thái"),
                                grid.Column("CreatedDate", "Ngày tạo",
                                    format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreatedDate)),
                                grid.Column("EditedDate", "Lần sửa cuối",
                                    format: (item) => item.EditedDate == null ? "" : string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.EditedDate)),
                                grid.Column("RenewDate", "Lần gia hạn cuối",
                                    format: (item) => item.RenewDate == null ? "" : string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.RenewDate)),
                                grid.Column("ExpiredDate", "Ngày hết hạn", 
                                    format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.ExpiredDate)),
                                grid.Column("CountRenew", "Số lần đã gia hạn")

                                                                         ))@Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn);
    }
    else
    {
        <h2>Không có bài</h2>
    }
}

</div>