@model RentalHouseFinding.Models.Locations

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset id="fieldsetAd">
        <div class="rolesManageDiv">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="rolesManageTextBox">
            <div class="editor-label">
                @Html.LabelFor(model => model.DistrictId, "District")
            </div>
            <div class="editor-field">
                @Html.DropDownList("DistrictId", String.Empty)
                @Html.ValidationMessageFor(model => model.DistrictId)
            </div>
        </div>
        <div class="rolesManageCheck" style="width:120px;margin-left:45px;">
            <div class="editor-label">
                @Html.LabelFor(model => model.IsCreatedByUser)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsCreatedByUser)
                @Html.ValidationMessageFor(model => model.IsCreatedByUser)
            </div>
        </div>
        <div class="rolesManageSubmit">
        <p>
            <input type="submit" class="createLink" value="Create" />
        </p>
        </div>
    </fieldset>
}


    <div class="backLink"><a href="../../ManageLocation"><img src="../../Content/images/Back.png" /></a>
    </div>