@model List<RentalHouseFinding.Models.Posts>
@{
    this.Layout = null;
}
<head>
</head>
<body>

<table class="CSSTable">
@for (int i = 0; i < 20; i++)
{
    <tr>
    @switch (i)
    {
        case 0: <td><b>Tiêu đề</b></td> break;
        case 1: <td><b>Địa chỉ</b></td> break;
        case 2: <td><b>Giá</b></td>break;
        case 3: <td><b>Giá điện</b></td> break;
        case 4: <td><b>Giá nước</b></td> break;
        case 5: <td><b>Diện tích</b></td> break;
        case 6: <td><b>Internet</b></td> break;
        case 7: <td><b>Giường đi kèm</b></td> break;
        case 8: <td><b>Bảo vệ</b></td> break;
        case 9: <td><b>Vệ sinh khép kín</b></td> break;
        case 10: <td><b>Ở chung chủ</b></td> break;
        case 11: <td><b>Truyền hình cáp</b></td> break;
        case 12: <td><b>Có chỗ để xe</b></td> break;
        case 13: <td><b>Nấu ăn trong phòng</b></td> break;
        case 14: <td><b>Bình nóng lạnh</b></td> break;
        case 15: <td><b>Điều hòa</b></td> break;
        case 16: <td><b>Garaga ô tô</b></td> break;
        case 17: <td><b>Giờ đóng cửa</b></td> break;
        case 18: <td><b>Miêu tả thêm</b></td> break;
        case 19: <td><b>Địa điểm xung quanh</b></td> break;
        default: break;
    }
    @foreach (var item in Model)
    {
        string address = item.NumberAddress + " " + item.Street + " " + item.District.Name + " " + item.District.Province.Name;
        address = address.Trim();
        switch (i)
        {
            case 0: <td>@item.Title</td> break;
            case 1: <td>@address</td> break;
            case 2: <td>@item.Price</td> break;
            case 3: <td>@item.Facilities.ElectricityFee</td> break;
            case 4: <td>@item.Facilities.WaterFee</td> break;
            case 5: <td>@item.Area</td> break;
            case 6: <td>@if (item.Facilities.HasInternet)
                {
                        <input type="checkbox" checked="checked" disabled="true"/>
                }
                else
                {
                        <input type="checkbox" disabled="true"/>
                }
            </td> break;
            case 7: <td>
                    @if (item.Facilities.HasBed)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 8: <td>
                    @if (item.Facilities.HasSecurity)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 9: <td>
                    @if (item.Facilities.HasToilet)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 10: <td>
                    @if (item.Facilities.IsStayWithOwner)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 11: <td>
                    @if (item.Facilities.HasTVCable)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 12: <td>
                    @if (item.Facilities.HasMotorParkingLot)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 13: <td>
                    @if (item.Facilities.IsAllowCooking)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 14: <td>
                    @if (item.Facilities.HasWaterHeater)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 15: <td>
                    @if (item.Facilities.HasAirConditioner)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 16: <td>
                    @if (item.Facilities.HasGarage)
                    {
                        <input type="checkbox" checked="checked" disabled="true"/>
                    }
                    else
                    {
                        <input type="checkbox" disabled="true"/>
                    }
            </td> break;
            case 17: <td>@item.Facilities.RestrictHours</td> break;
            case 18: <td>@item.Description</td> break;
            case 19: <td>@item.NearbyPlace</td> break;
            default: break;
        }
    }
    </tr>
}

</table>
</body>