@model RentalHouseFinding.Models.UserDetailsModel
@{
    ViewBag.Title = "Show User Details";
}
@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@Html.ActionLink(@User.Identity.Name, "Index", "User")</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}

<h2> Welcome @Model.first_name Your Details are as follows: </h2>
<table style="border:1">
@*<tr><td>Picture</td><td><img src='@Model.picture.data.url' /></td></tr>*@
 <tr>
    <td> OpenID / FaceBook ID  </td>
    <td> @Model.id </td>
 </tr>
  
  <tr>
    <td> First Name  </td>
    <td> @Model.first_name </td>
 </tr>
  <tr>
    <td> Last Name  </td>
    <td> @Model.last_name </td>
 </tr>
 
  <tr>
    <td> Gender  </td>
    <td> @Model.gender </td>
 </tr>
   <tr>
    <td> Email  </td>
    <td> @Model.email </td>
 </tr>
</table>
