@model IEnumerable<RentalHouseFinding.Models.Questions>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<table>
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Bài đăng liên quan
        </th>
        <th>
            Ngày gửi
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Trả lời
        </th>
        <th>
            Người gửi
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="@item.IsRead">
        <td>
            @Html.ActionLink(item.Title, "Details", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRead)
        </td>
        <td>
            @item.Answers.Count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
    </tr>
}

</table>
