@model IEnumerable<RentalHouseFinding.Models.BadWords>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    if (ViewBag.ErrorMsg != null)
    {
        @ViewBag.ErrorMsg
    }
}
@using (Html.BeginForm("Index", "ManageBadword", FormMethod.Post))
{
    @Html.DropDownList("TypeId",
        (IEnumerable<SelectListItem>)ViewBag.TypesList,
            "Phân loại", new { @class = "select" })
            <input type="submit" name="Search" value="Search" />
}

<table>
    @{
    if (Model != null)
    {
    <tr>
        <th>
            STT
        </th>
        <th>
            Từ
        </th>
        <th>
            Phân loại
        </th>
    </tr>

    int i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
             @i
            </td>
            <td>
                @Html.ActionLink(item.Word, "Edit", new { id=item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadWordType.Name)
            </td>
        </tr>
        i += 1;
    }
    }
    else
    {
        <h2>Không có từ xấu</h2>
    }
}
</table>

<br/>
<p>
    @Html.ActionLink("Create New", "Tạo mới")
</p>
<br />
<p>
    @Html.ActionLink("Danh sách phân loại từ xấu", "Index", "ManageBadwordType", null, null)
</p>