@{
    if (ViewBag.Images == null || ViewBag.Images.Count == 0)
    {
       <div id="noImage"></div>
    }
    else
    {
        <link type="text/css" href="@Url.Content("~/Content/css/bottom.css")" rel="stylesheet" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.jcarousel.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.pikachoose.js")"></script>
        <script language="javascript">
            $(document).ready(
		        function () {
		            $("#pikame").PikaChoose({ carousel: false, autoPlay: true, carouselOptions: { wrap: 'circular'} });
		        });
        </script>

        <div class="pikachoose">
            <ul id="pikame" class="jcarousel-skin-pika" style="display:none;">
            @for (var i = 0; i < @ViewBag.Images.Count; i++)
            { 
                <li><img src="@ViewBag.Images[i].Path" alt="" /></li>
            }	
            </ul>
        </div>
    }
}
