@model IEnumerable<RentalHouseFinding.Models.PostViewModel>
@{
    ViewBag.Title = "Index";
    this.Layout = null;
}

@foreach (var item in Model) {
    <div class="post-item">
        <div class="display-label">
            <strong>@Html.LabelFor(modelItem => item.Title)</strong> <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </div>
   
        <div class="display-label">Địa chỉ:</div>
        <div class="display-field">
            <strong>@Html.DisplayText(item.NumberHouse + "-" + item.Street)</strong>
        </div>

        <div class="display-label">@Html.LabelFor(modelItem => item.Price)</div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Price)
        </div>

        <div class="display-label">@Html.LabelFor(modelItem => item.Area)</div>
        <div class="display-field">
            @Html.DisplayFor(modelItem => item.Area)
        </div>
    </div>
}

