@model RentalHouseFinding.Models.SMSModel
@{
    ViewBag.Title = "Gửi tin gia hạn";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset id="fieldsetAd">     
    <h3>Gia hạn bài đăng</h3>   
    <div id="SMSActive">
   @Html.LabelFor(model => model.PhoneNumber)
        <div class="editor-label">
            @Html.TextBoxFor(model => model.PhoneNumber, new {@style="border:1px solid grey;" })
             @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        @Html.LabelFor(model => model.ContentSMS)
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ContentSMS, new { @placeholder = "Cú pháp: MS [Mã tin]               Vd: MS jhKs", @style = "border:1px solid grey; font-family:Calibri,San-serif;" })
            @Html.ValidationMessageFor(model => model.ContentSMS)
        </div>

        <p>
            <input type="submit" class="btnActive"/>
        </p>
        </div>
    </fieldset>
}
