@model RentalHouseFinding.Models.Districts

@{
    ViewBag.Title = "Thêm quận/huyện";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
    <div class="rolesManageDiv">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Tên")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
</div>
<div class="rolesManageDiv">
        <div class="editor-label">
            @Html.LabelFor(model => model.Lat, "Kinh độ")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lat)
            @Html.ValidationMessageFor(model => model.Lat)
        </div>
</div>
<div class="rolesManageDiv">
        <div class="editor-label">
            @Html.LabelFor(model => model.Lon, "Vĩ độ")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lon)
            @Html.ValidationMessageFor(model => model.Lon)
        </div>
</div>
<div class="rolesManageTextBox">
        <div class="editor-label">
            @Html.LabelFor(model => model.ProvinceId, "Tỉnh/Thành")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProvinceId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProvinceId)
        </div>
</div>
    <div class="rolesManageSubmit">
        <p>
            <input type="submit" class="createLink" value="Tạo mới" />
        </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay về", "Index")
</div>
