@model IEnumerable<RentalHouseFinding.Models.Districts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Index", "ManageDistrict", FormMethod.Post))
{
    @Html.DropDownList("ProvinceId",
        (IEnumerable<SelectListItem>)ViewBag.Provinces,
            "Chọn Tỉnh/Thành phố", new { @class = "select" })
            <input type="submit" name="Search" value="Search" />
}
<div id="container-grid">

    @{
        var grid = new WebGrid(Model, ajaxUpdateContainerId: "container-grid", canSort: false);
        
        @grid.GetHtml(tableStyle: "", mode: WebGridPagerModes.All,
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    htmlAttributes: new { id = "grid" },
                    columns: grid.Columns(
                    grid.Column(header: "Name", format: @<text>
                                             <a href="@Url.Action("Edit", 
                                             "ManageDistrict", 
                                             new { id = @item.ID })">@item.Name</a></text>),
                                grid.Column("Lat", "Lat"),
                                grid.Column("Lon", "Lon"),
                                grid.Column("Province.Name", "Province")
                            ));
    }
</div>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<p>
    @Html.ActionLink("Danh sách tỉnh/thành", "Index", "ManageProvinces", null, null)
</p>