@model RentalHouseFinding.Models.ManagePaymentModel
@{
    ViewBag.Title = "Quản lí giao dịch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script>
    $(document).ready(function () {
        $('a[href="#"]').live('click', function (event) {
            event.preventDefault();
        });
        $("#created_date_from").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
        $("#created_date_to").datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true });
    });
</script>

<div id="container-grid">
@{
    if (Model != null && Model.Grid.TotalRowCount > 0)
    {
        WebGrid grid = Model.Grid;
        <span id="adminResultText">Có @grid.TotalRowCount giao dịch</span><br/>
        @grid.GetHtml(tableStyle: "webGrid", mode: WebGridPagerModes.All,
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            htmlAttributes: new { id = "grid" },
                            columns: grid.Columns(
                                grid.Column(header: "STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + ViewBag.Index),
                                grid.Column("Code", "Mã bài đăng", canSort: false),
                                grid.Column(columnName: "PostTitle", header: "Tên bài đăng", format: @<text>
                                <a href="@Url.Action("Details",
                                "Post",
                                new { id = @item.PostsId })">@item.PostTitle</a></text>),
                                grid.Column("CreatedDate", "Ngày giao dịch", format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreatedDate)),
                                grid.Column("PhoneNumber", "Số điện thoại giao dịch", canSort: false)
                                ));
    }
    else
    {
        <div id="message-sv" style="width:967px; margin: 0 auto;">
                    <div class="message-notificationUser message-informationUser">
                        <a class="close" id="btnCloseDiv"></a>
                        <div>
                            Bạn chưa có giao dịch nào :)
                        </div>
                    </div>
                </div>
    }
}

</div>