@{
    ViewBag.Title = "Sửa bài đăng";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="helloText">
    <div class="helloLine"></div>
    <span>Chào bạn!</span>
    <div class="helloLine"></div>
</div>
<div class="clear"></div>
<div id="message-sv" style="width:320px; margin: 0 auto;">
    @if (TempData["MessageSuccessEdit"] != null)
    {
        <div class="message-notification success">
            <a class="close" id="btnCloseDiv"></a>
            <div>
                @TempData["MessageSuccessEdit"]
            </div>
        </div>
    }
    @if (TempData["Success"] != null)
    {
        if ((bool)TempData["Success"] && TempData["Success"] != null)
        {
            <div class="message-notification success">
                <a class="close" id="btnCloseDiv"></a>
                <div>
                    @TempData["MessageSuccessPostNew"]
                </div>
            </div>
        }
    }
    @if (TempData["Pending"] != null)
    {
        if ((bool)TempData["Pending"])
        {
            <div class="message-notification message-information">
                <a class="close" id="btnCloseDiv"></a>
                <div>
                    @TempData["MessagePendingPostNew"]
                </div>
            </div>
        }
    }
</div>
<div class="login-regis" id="loginPanel">
@using (Html.BeginForm("Index","PostEdit",FormMethod.Post,new{@style="padding:70px"}))
{
    <div class="userInfo" style="width: 320px;margin: 0 auto;">
        <h2>Xin vui lòng nhập mã tin đăng chúng tôi cung cấp cho bạn để chỉnh sửa bài viết</h2>
        <div class="clear"></div>
        <div class="blockInfo" style="margin-top:30px">
            <input type="text" id="code" name="code" class="tbxRegister" />
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="notification">
       
        <span style="width: 300px">@Html.ValidationSummary(true, "Mã tin không đúng, xin vui lòng kiểm tra lại thông báo và thử lại.")</span>
    </div>
    <div class="buttons">
        <input type="submit" id="btnEditPost" value=""/>
    </div>
}
</div>
