@model IEnumerable<RentalHouseFinding.Models.PostViewModel>
@{
    ViewBag.Title = "Index";
    this.Layout = null;
}
<ul id="ul-result">
@foreach (var item in Model)
{
    <li>
        <a id = "item-@item.Id" class="infoDetail left fancybox" href="@Url.Content("~/post/detailsbox/" + @item.Id)">
            <div class="text left">
                <span class="address left"><b>@Html.DisplayFor(modelItem => item.NumberHouse) - @Html.DisplayFor(modelItem => item.Street)</b></span>
                <span class="desc left">@Html.DisplayFor(modelItem => item.Title)</span>
                <div class="clear"></div>
                <div  class="left"><span class="highlight">@Html.DisplayFor(modelItem => item.Price)</span><span class="hlText">&nbsp;triệu VND</span></div>
                <div class="right"><span class="highlight">@Html.DisplayFor(modelItem => item.Area)</span><span class="hlText">&nbsp;m2</span></div>
            </div>
            <img class="thumbnail right" src="@Url.Content("~/Content/images/thumbSample.png")" alt="image_sample"/>
        </a>
    </li>
}
</ul>