@model RentalHouseFinding.Models.AnswerViewModel
@{
    int questionId = Convert.ToInt32(ViewData["questionId"]);
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#result").fadeOut();
        $("#sendBtn").click(function () {
            if ($("#ContentAnswer").val().length != 0) {
                $("#result").fadeIn();
            }
            return true;
        }
        );

        $('form').submit(function () {
            if ($(this).valid()) {
                $(':submit', this).attr('disabled', 'disabled');
            }
        });
    });
</script>
@using (Ajax.BeginForm("sendanswer", "questions", new AjaxOptions { UpdateTargetId = "answers", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    <div id="result" style="margin-left:25px;" ><img src="@Url.Content("~/Content/images/ajax-loader.gif")" /></div>
    <div class="clear"></div>
    @Html.ValidationSummary(true)
    <input id = "QuestionId" name="QuestionId" value="@questionId" type="hidden" />
    @Html.TextBoxFor(model => model.ContentAnswer)
    <input type="submit" value="" id="sendBtn"/>
    <div class="clear"></div>
    <div style="margin-left:25px;">
        @Html.ValidationMessageFor(model => model.ContentAnswer)
    </div>
}

