@model RentalHouseFinding.Models.Questions

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<script type="text/javascript">
    function OnSuccess() {
        $.validator.unobtrusive.parse('form0');
        $("#result").fadeOut();
        $("#ContentAnswer").val("");
    }
    function OnFailure(ajaxContext) {
        var response = ajaxContext.get_response();
        var statusCode = response.get_statusCode();
        alert("Error occured. Status code = " + statusCode);
    }
</script>
<div class="infoDetail">
    <span class="detail left">Chi tiết hội thoại</span>
</div>
<div class="messages">
    <div class="line">
        <span class="name">@Model.SenderEmail</span>
        <div class="clear"></div>
        <span class="text">@Model.Content</span>
    </div>
    <div class="clear"></div>
    <div id="answers">
    @foreach (var item in Model.Answers) {
        <div class="line">
            <span class="name">Trả lời:</span>
            <div class="clear"></div>
            <span class="text">@Html.DisplayFor(model => item.Content)</span>
            <span class="text">Ngày trả lời: @Html.DisplayFor(model => item.CreatedDate)</span>
        </div>
        <div class="clear"></div>
    }
</div>
</div>
<div id="submit-answer">
    @Html.Partial("_AnswerPartial", new RentalHouseFinding.Models.AnswerViewModel(), new ViewDataDictionary { { "questionId", Model.Id } })
</div>