@model IEnumerable<RentalHouseFinding.Models.Questions>

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('.infoDetail').click(function () {
            $('#rightInfo').html('<strong>Loading...</strong>');
                $.post('@Url.Content("~/Questions/Details/")' + $(this).attr("id"), function (data) {
                    $('#rightInfo').html(data);
                });
        });
    });
    
</script>
<div id="leftInfo" class="left">
    <label style="margin-left: 15px; font-size: 14px;">
        Các câu hỏi bạn có liên quan</label>
    <div class="clear">
    </div>
    <div style="overflow: hidden; width: 320px; height: 556px;">
        <div class="scroll-panel" style="overflow: auto; width: 340px; height: 556px;">
            @foreach (var item in Model)
            {
                <div id="@item.Id" class="infoDetail left" href="">
                    <div class="text left">
                        <span class="title left"><strong>@item.Title</strong></span>
                        <span class="from left">Từ bài đăng: @item.Post.Title</span> 
                        <span class="time left">Thời gian: @item.CreatedDate</span>
                        <span class="sender left">Người gửi: @item.SenderEmail</span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="rightInfo" class="left">
    
</div>
<div class="clear">
</div>