@model RentalHouseFinding.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    jQuery.validator.unobtrusive.adapters.add(
        'requiredif', ['other'], function (options) {

            var getModelPrefix = function (fieldName) {
                return fieldName.substr(0, fieldName.lastIndexOf('.') + 1);
            }

            var appendModelPrefix = function (value, prefix) {
                if (value.indexOf('*.') === 0) {
                    value = value.replace('*.', prefix);
                }
                return value;
            }

            var prefix = getModelPrefix(options.element.name),
                other = options.params.other,
                fullOtherName = appendModelPrefix(other, prefix),
                element = $(options.form).find(':input[name="' + fullOtherName + '"]')[0];

            options.rules['requiredif'] = element;
            if (options.message) {
                options.messages['requiredif'] = "Bạn phải nhập Email hoặc Số điện thoại";
            }
        }
    );

    jQuery.validator.addMethod('requiredif', function (value, element, params) {
        var otherValue = $(params).val();
        if (otherValue != null && otherValue != '') {
            return true;
        }
        return value != null && value != '';
    }, '');
</script>


<div class="login-regis" id="regisPanel">
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new{ @style = "padding:100px" })) {
@Html.ValidationSummary(true, "Thay đổi không thành công.")
    <div style="margin-left:150px;">
    <div class="blockInfo">
        @Html.LabelFor(m => m.UserName)
        @Html.HiddenFor(m => m.UserName)
        <div class="clear"></div>
        <div class="textbox">
            @Html.DisplayFor(m => m.UserName, new { @class = "tbxRegister" })
        </div>
    </div>
    <div class="clear"></div>
    <div class="blockInfo">
        @Html.LabelFor(m => m.Email)
        <div class="clear"></div>
        <div class="textbox">
            @Html.TextBoxFor(m => m.Email, new { @class = "tbxRegister" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="clear"></div>
    <div class="blockInfo">
        @Html.LabelFor(m => m.Name)
        <div class="clear"></div>
        <div class="textbox">
            @Html.TextBoxFor(m => m.Name, new { @class = "tbxRegister" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="clear"></div>
    <div class="blockInfo">
        @Html.LabelFor(m => m.PhoneNumber)
        <div class="clear"></div>
        <div class="textbox">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "tbxRegister" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    </div>
    <div class="clear"></div>
    
    <div class="blockInfo">
        <div class="clear"></div>
        <input type="submit" id="btnSaveInfo" value=""/>
    </div>
    </div>
}
</div>