@model RentalHouseFinding.Models.InfoAndUserLogsViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="leftInfo" class="left">
        <label style="margin-left: 15px; font-size: 14px;">
            Thông tin tài khoản</label>
        <div class="clear">
        </div>
        <div id="accInfo">
            <span class="title">Email:</span> <span class="info">@Model.User.Email</span> 
            <span class="title">Họ tên:</span> <span class="info">@Model.User.Name</span> 
            <span class="title">Điện thoại cố định:</span><span class="info">@Model.User.PhoneNumber</span> 
            <span class="title">Thời điểm tạo:</span> <span class="info">@Model.User.CreatedDate</span> 
            <span class="title">Địa chỉ</span> <span class="info">@Model.User.Address</span>
         @*   @Html.ActionLink("Thay đổi thông tin TK", "Edit", "User")*@
            <div style="margin-top:30px;"><a href="../User/Edit"><img src="../../Content/images/btn_changeinfo.png" /></a></div>
            <div class="clear"></div>
           @* @Html.ActionLink("Đổi mật khẩu (dành cho tài khoản đăng ký tại hệ thống)", "ChangePassword", "Account")*@
          <div style="margin-top:30px;"><a href="../Account/ChangePassword"><img src="../../Content/images/btn_changepass.png" /></a></div>
        </div>
</div>
<div id="rightInfo" class="left">
    <div class="infoDetail">
        <span class="detail left">Các hoạt động của tài khoản</span>
        <div style="overflow: hidden; width: 690px; height: 556px;">
            <div class="scroll-panel" style="overflow: auto; width: 710px; height: 556px;">
                @foreach(var item in Model.UserLogsList)
                {
                    <div class="activityInfo">
                        <div class="activityDetail">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Message))<br />
                            lúc: @item.CreatedDate
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clear">
</div>

<script type="text/javascript" >
    $(document).ready(function () {
        $("#options a").removeClass("active");
        $("#btnThongTin").addClass('active');
    });
</script>