@model RentalHouseFinding.Models.UserViewModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>
@{
    if (TempData["ProfileChanged"] != null)
    {
        <li>Thông tin đăng kí đã cập nhật thành công</li>
    }
}
<fieldset style="width: 500px;">
    <legend>User Profile</legend>


    <div class="display-label">@Html.LabelFor(model => model.UserName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Email)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.PhoneNumber)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Address)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    <input type="button" value="Thay đổi thông tin đăng kí" onclick="self.location='/User/Edit';" />
</p>
