@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<fieldset>
    <div id="container-grid">
        @{
            if (ViewBag.PostList != null)
            {
                var grid = new WebGrid(ViewBag.PostList, ajaxUpdateContainerId: "container-grid", canSort: false
                    );
        
                @grid.GetHtml(tableStyle: "", mode: WebGridPagerModes.All, 
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                htmlAttributes: new { id = "grid"},
                                columns: grid.Columns(
                                       grid.Column(header: "Mã số bài đăng", format: @<text>
                                            <a href="@Url.Action("details",
                                            "post",
                                            new { id = @item.ID })">@item.Id</a></text>),
                                            grid.Column(header: "Tiêu đề", format: @<text>
                                            <a href="@Url.Action("edit",
                                            "post",
                                            new { id = @item.ID })">@item.Title</a></text>),
                                                                                 grid.Column("PostStatus", "Trạng thái"),
                                                                                 grid.Column("CreatedDate", "Ngày tạo"),
                                                                                 grid.Column("EditedDate", "Lần cuối chỉnh sửa"),
                                                                                 grid.Column("RenewDate", "Ngày làm mới"),
                                                                                 grid.Column("ExpiredDate", "Ngày hết hạn")
                                                                             ));
            }
            else
            {
                <h2>Không có bài post</h2>
            }
    
        }
        <br/>
        <br/>
    </div>
</fieldset>

<script type="text/javascript" >
    $(document).ready(function () {
        $("#options a").removeClass("active");
        $("#btnQuanLy").addClass('active');
    });
</script>