@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Quản lí bài đăng";
}
<script>
    $(document).ready(function () {
        $("#grid th")[4].setAttribute('id', '8');
        $('#8').find('a').prepend('<img id="theImg" src="../../Content/images/down.png" />')
    });
</script>

<script type="text/javascript">

    function setArrows() {
        var dir = $('#dir').val();
        var col = $('#col').val();
        var header = $('th a[href*=' + col + ']');
        var i = -1;        
        if (col == 'Title') {
            i =2;
        }
        if (col == 'PostStatus') {
            i = 3;
        }
        if (col == 'CreatedDate') {
            i = 4;
        }
        if (col == 'EditedDate') {
            i = 5;
        }
        if (col == 'RenewDate') {
            i = 6;
        }
        if (col == 'ExpiredDate') {
            i = 7;
        }
        if (col == 'CountRenew') {
            i = 8;
            if (dir == 'Ascending') {
                $("#grid th")[i].setAttribute('id', '8');
                $('#8').find('a').prepend('<img id="theImg" src="../../Content/images/down.png" />')
            }
            if (dir == 'Descending') {
                $("#grid th")[i].setAttribute('id', '8');
                $('#8').find('a').prepend('<img id="theImg" src="../../Content/images/up.png" />')
            }
            return;
        }
        if (dir == 'Ascending') {
            $("#grid th")[i].setAttribute('id', '8');
            $('#8').find('a').prepend('<img id="theImg" src="../../Content/images/up.png" />')
        }
        if (dir == 'Descending') {
            $("#grid th")[i].setAttribute('id', '8');
            $('#8').find('a').prepend('<img id="theImg" src="../../Content/images/down.png" />')
        }
    };
</script>


<fieldset>
    <div id="container-grid">
        @{            
            if (ViewBag.Grid != null && ViewBag.Grid.TotalRowCount > 0)
            {
                var grid = (WebGrid)ViewBag.Grid;
                
                @grid.GetHtml(tableStyle: "", mode: WebGridPagerModes.All,
                                headerStyle: "header",
                                alternatingRowStyle: "alt",
                                htmlAttributes: new { id = "grid" },
                                columns: grid.Columns(
                                        grid.Column(header: "STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + ViewBag.Index),
                                        grid.Column("Code", "Mã bài", canSort: false),
                                        grid.Column(header: "Tiêu đề", columnName: "Title", format: @<text>
                                        <a href="@Url.Action("Details", "Post",
                                        new { id = @item.ID })">@item.Title</a></text>),
                                        grid.Column("PostStatus", "Trạng thái"),
                                        grid.Column("CreatedDate", "Ngày tạo",
                                            format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.CreatedDate)),
                                        grid.Column("EditedDate", "Lần sửa cuối",
                                        format: (item) => item.EditedDate == null ? "" : string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.EditedDate)),
                                        grid.Column("RenewDate", "Lần gia hạn cuối",
                                            format: (item) => item.RenewDate == null ? "" : string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.RenewDate)),
                                        grid.Column("ExpiredDate", "Ngày hết hạn",
                                            format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.ExpiredDate)),
                                        grid.Column("CountRenew", "Số lần đã gia hạn")

                                                 ))@Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
            }
            else
            {
                <div id="message-sv" style="width:967px; margin: 0 auto;">
                    <div class="message-notification message-information">
                        <a class="close" id="btnCloseDiv"></a>
                        <div>
                            Bạn chưa có bài đăng nào :)
                        </div>
                    </div>
                </div>
            }
    
        }
        <br/>
        <br/>
    </div>
</fieldset>

<script type="text/javascript" >
    $(document).ready(function () {
        $("#options a").removeClass("active");
        $("#btnQuanLy").addClass('active');
        $('a[href="#"]').live('click', function (event) {
        event.preventDefault();
        });
    });
</script>