@model IEnumerable<RentalHouseFinding.Models.Favorites>
@{
    this.Layout = null;
    int i = 0;
}

@foreach (var item in Model)
{
    i++;
    <div class="result">
        <span><b class="left">@i.</b> <a class="left" style="width: 215px" href="@Url.Content("~/post/details/" + @item.PostId)">@item.Post.NumberAddress - @item.Post.Street - @item.Post.District.Name</a><a class="remove-fav-item-list left" onclick="removeFavoriteInList(@item.PostId);">Xóa</a></span>
        <input id="@item.PostId" type="checkbox" class="styledCheckbox favItem" />
    </div>
}