@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="message-sv" style="width:967px; margin: 0 auto;">
    @if (TempData["MessageSuccessSaveBadPost"] != null)
    {
        <div class="message-notification success">
            <a class="close" id="btnCloseDiv"></a>
            <div>
                @TempData["MessageSuccessSaveBadPost"]
            </div>
        </div>
    }
</div>
<div id="container-grid">
@{
    if (ViewBag.Grid != null && ViewBag.Grid.TotalRowCount > 0)
    {
        WebGrid grid = ViewBag.Grid;
        @grid.GetHtml(tableStyle: "webGrid", mode: WebGridPagerModes.All,
                            headerStyle: "header",
                            alternatingRowStyle: "alt",
                            htmlAttributes: new { id = "grid" },
                            columns: grid.Columns(
                                          grid.Column(header: "STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + ViewBag.Index),
                                     grid.Column("ID", "Id"),
                                     grid.Column("UserId", "Mã người dùng"),
                                     grid.Column(header:"Tiều đề", format: @<text>
                                             <a href="@Url.Action("edit", 
                                             "managebadpost", 
                                             new { id = @item.ID })">@item.Title</a></text>),
                                    grid.Column("PostStatus", "Trạng thái"),
                                    grid.Column("CreatedDate", "Ngày tạo")));
    }
    else
    {
        <h2>Không có bài post vi phạm</h2>
    }
}