@model IEnumerable<RentalHouseFinding.Models.PostViewModel>
@{
    ViewBag.Title = "Index";
    this.Layout = null;
}

@foreach (var item in Model) {
<div class="search-result">
    <div class="search-result-content">
        <div class="search-result-address">
            <strong>@Html.DisplayFor(modelItem => item.NumberHouse) - @Html.DisplayFor(modelItem => item.Street)</strong>
        </div>
        <div class="search-result-title">
            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </div>

        <div class="fl_l">
            @Html.DisplayFor(modelItem => item.Price)
        </div>

        <div class="fl_r">
            @Html.DisplayFor(modelItem => item.Area)
        </div>
    </div>
</div>
}

