@model RentalHouseFinding.Models.SearchViewModel
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Uri auxBaseUri = new Uri(Request.Url.GetLeftPart(UriPartial.Authority));
    Uri baseUri = new Uri(auxBaseUri, Url.Content("~")); 
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/markerclusterer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RHFScripts.js")" type="text/javascript"></script> 
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
@*Group Marker*@
@*<script src="http://www.google.com/jsapi"></script>*@
<script type="text/javascript">
    function bindFancyBox(obj) {
        $.fancybox({
            'href': $(obj).attr("rel"),
            'width': '85%',
            'height': '100%',
            'autoScale': false,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'iframe'
        });
    }
    function bindMouseHoverMarker(){
        var imageInactive = '@Url.Content("~/Content/images/inactive_marker.png")';
        var imageActive = '@Url.Content("~/Content/images/active_marker.png")';

        $("#ul-result li div.fancybox").mouseover(function () {
            var id = $(this).attr('id').split('-')[1];
            if (window.markers1 != null) {
                for (var key in window.markers1.marker) {
                    if (window.markers1.marker[key].id == id) {
                        window.markers1.marker[key].value.setIcon(imageActive);
                    }
                }
            }
        }).mouseout(function () {
            var id = $(this).attr('id').split('-')[1];
            if (window.markers1 != null) {
                for (var key in window.markers1.marker) {
                    if (window.markers1.marker[key].id == id) {
                        window.markers1.marker[key].value.setIcon(imageInactive);
                    }
                } 
            }
        });
    }

   function initialize() {
        var latlon = '@ViewBag.latlon'.split('|')[0];
        var centerMap = new google.maps.LatLng((latlon.split(',')[0]), (latlon.split(',')[1]));
        var zoomMap = '@ViewBag.latlon'.split('|')[1];
        var int_zoomMap = parseInt(zoomMap);
        var mapOptions = {
            zoomControl: true,
            center: centerMap,
            zoom: int_zoomMap,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };        

        window.map = new google.maps.Map(document.getElementById('infoMap'),
            mapOptions);
        // Limit the zoom level
        google.maps.event.addListener(map, 'zoom_changed', function () {
            if (map.getZoom() < 8) map.setZoom(8);
        });
        var i = 0;
        var markers = [];
        window.markers1 = { marker: [] };         
        var imageInactive = '@Url.Content("~/Content/images/inactive_marker.png")';
        var imageActive = '@Url.Content("~/Content/images/active_marker.png")';

        var scriptInfobox = document.createElement('script');
        scriptInfobox.type = 'text/javascript';
        scriptInfobox.src = '@Url.Content("~/Content/js/infobox.js")';

        document.body.appendChild(scriptInfobox);
        var scriptOverlap = document.createElement('script');
        scriptOverlap.type = 'text/javascript';
        scriptOverlap.src = '@Url.Content("~/Content/js/oms.min.js")';

        document.body.appendChild(scriptOverlap);        
        
        $.getJSON("home/GetLatLonFromResult",
            function (myData) {
                source = myData;
                var oms = new OverlappingMarkerSpiderfier(window.map,
        { markersWontMove: true, markersWontHide: true });

                
                var markerImg = new google.maps.MarkerImage(imageInactive);
                var altMarkerImg = new google.maps.MarkerImage(imageActive);
                var ib = new InfoBox();
                oms.addListener('spiderfy', function (markers) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setShadow(null);
                    }
                    ib.close();
                });
                oms.addListener('unspiderfy', function (markers) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setShadow(markerImg);
                    }
                });
                $.each(source, function (index, itemData) {
                    if (itemData.Text.length != 0) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng((itemData.Text.split('|')[0]), (itemData.Text.split('|')[1])),
                            map: window.map,
                            icon: markerImg,
                            animation: google.maps.Animation.DROP
                        });
                        i++;
                        google.maps.event.addListener(map, 'click', function () { if (ib) { ib.close(); } });
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                var valuePost = itemData.Text.split('|');
                                var boxText = document.createElement("div");
                                boxText.className = "infoBox-wrapper";
                                boxText.innerHTML = '<a onclick="bindFancyBox(this);" class="infoDetail left fancybox markerInfo" rel="/post/detailsbox/' + itemData.Value + '">'
                                + '<div class="infoBox-item"">'
                                + '<div style="padding: 5px; border: 1px dashed;"><label id="title">' + valuePost[5] + '</label></div>'
                                + '<div style="padding: 5px;">'
                                + '<br/>'
                                + '<label id="address">' + valuePost[4] + '</label>'
                                + '<br/>'
                                + '<label id="price"  style="font-size:18px;color:#F17612;">' + valuePost[3] + '</label>' + '<label>' + ' triệu VNĐ' + '</label>' + '   |   ' + '<label id="area" style="font-size:18px;color:#F17612;">' + valuePost[2] + '</label>' + '<label>' + ' m2' + '</label>'
                                + '<br/>'
                                + '</div>'
                                + '</a>'
                                + '</div>';

                                var url = '@Url.Content("~/Content/images/tipbox.png")';
                                var myOptions = {
                                    content: boxText
			                        , disableAutoPan: false
			                        , maxWidth: 2000
			                        , pixelOffset: new google.maps.Size(-77, 0)
			                        , zIndex: null
			                        , boxStyle: {
			                            background: "url(" + url + ") no-repeat 71px 0px transparent"
			                          , opacity: 1
			                          , width: "152px"
			                        }
                                    , closeBoxMargin: "2px -22px 2px 2px"
			                        , closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
			                        , infoBoxClearance: new google.maps.Size(1, 1)
			                        , isHidden: false
			                        , pane: "floatPane"
			                        , enableEventPropagation: false
                                };
                                //--End
                                ib.close();
                                ib.setOptions(myOptions)
                                ib.open(window.map, this);
                            }
                        })(marker, i));
                        window.markers1.marker.push({ "id": itemData.Value, "value": marker });
                        markers.push(marker);
                        oms.addMarker(marker);
                    }
                });
                var markerCluster = new MarkerClusterer(window.map, markers, {
                    zoomOnClick: true,
                    maxZoom: 14,
                    gridSize: 30
                });

            });
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
            'callback=initialize';

        document.body.appendChild(script);
    }

    //window.onload = loadScript;
</script>

<script type="text/javascript">
    $(document.documentElement).keydown(function (e) {
        var enterKey = 13;
        if (e.which == enterKey)
            $("form").submit();
    });
</script> 

<script type="text/javascript">
    $(document).ready(function () {
        loadScript();
        bindMouseHoverMarker();
        var source;
        $.ajax({
            url: 'home/GetSectionSideListPost?callback=?',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            data: {
                skipNum: 0,
                takeNum: 10
            }
        })
        .success(function (result) {
            $('#ul-result').append(result);
            $('div.fancybox').bind('click', function () {
                $.fancybox({
                    'href': $(this).attr("title"),
                    'width': '85%',
                    'height': '100%',
                    'autoScale': false,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'type': 'iframe'
                });
            });
            UpdateNumberListItem();
            bindMouseHoverMarker();
        })
        .error(function (xhr, status) {
            xhr.abort();
        });
    });
</script>
<div id="home-search-area">
@using (Html.BeginForm())
{   
   <div id="linkAdvancedSearch"> @Html.ActionLink("Tìm kiếm nâng cao", "Index", "AdvancedSearch", null, new { @id = "advanceSearchText" }) </div>
    <div class="clear"></div>
    <div id="options">
        <div id="btnShowList" onclick="toggle_visibility('listInfo');" class="btnShowListClicked"></div>
        @Html.DropDownListFor(model => model.CategoryId, null, new { @class = "select" })
        @Html.ValidationMessageFor(model => model.CategoryId)
        @Html.DropDownListFor(model => model.ProvinceId, null, new { @class = "select" })
        @Html.ValidationMessageFor(model => model.ProvinceId)
        @Html.DropDownListFor(model => model.DistrictId, null, new { @class = "select" })
        <div class="textbox">
            @Html.TextBoxFor(model => model.KeyWord, new { @id = "KeyWord", @class = "searchMid", @placeholder = "từ khóa thêm", @style = "width: 312px; font-size: 12px;" })        
        </div>
        <input type="submit" id="btnSubmit" value="" />
    </div>
}
</div>
<div class="clear"></div>
<div class="success-mess">
                
</div>
<div id="listInfo" class="left" style="display: block;">
    <label id="numberItem"></label>
    <div class="clear"></div> 
    <div id="wrapperDiv" class="scroll-pane">
        <div id="mainDiv">
            <ul id="ul-result">
            </ul>
        </div>
    </div>
    <div id="overlay">
       <img src="@Url.Content("~/Content/images/ajax-loader.gif")" />
    </div>
    
</div>
<div class="map_wrapper" style="border:1px solid #bebebe;
                                background-color: white;
                                overflow: hidden;
                                margin: 0 auto;">
    <div id = "map" style="margin: 5px">
        <div id="infoMap">
        
        </div>
    </div>
</div>
<div class="clear"></div>

@section head{
    <script type="text/javascript">
        function UpdateNumberListItem() {
            $.ajax({
                url: 'home/GetNumberOfAllResult?callback=?',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                var count = $("#ul-result").children().length;
                $("#numberItem").html("<strong>" + count + "/" + result + "</strong> kết quả");
            })
            .error(function (xhr, status) {
                xhr.abort();
            });
        }
        $(document).ready(function () {
            $("#overlay").fadeOut();
            $("#wrapperDiv").scroll(function () {
                // We check if we're at the bottom of the scrollcontainer
                if ($(this)[0].scrollHeight - $(this).scrollTop() == $(this).outerHeight()) {
                    $("#overlay").fadeIn();
                    // If we're at the bottom, show the overlay and retrieve the next page
                    $.ajax({
                        url: 'home/GetSectionSideListPost?callback=?',
                        contentType: 'application/html; charset=utf-8',
                        type: 'GET',
                        dataType: 'html',
                        data: {
                            skipNum: 0,
                            takeNum: 10
                        }
                    })
                    .success(function (result) {
                        $('#ul-result').append(result);
                        $('div.fancybox').bind('click', function () {
                            $.fancybox({
                                'href': $(this).attr("title"),
                                'width': '85%',
                                'height': '100%',
                                'autoScale': false,
                                'transitionIn': 'none',
                                'transitionOut': 'none',
                                'type': 'iframe'
                            });
                        });
                        $("#overlay").fadeOut();
                        UpdateNumberListItem();
                        bindMouseHoverMarker();
                    })
                    .error(function (xhr, status) {
                        xhr.abort();
                    });
                }
            });
            $('select.select').each(function () {
                var title = $(this).attr('title');
                var id = $(this).attr('id');
                if ($('option:selected', this).val() != '') {
                    title = $('option:selected', this).text();
                } else {
                    $('option:selected', this).val('0');
                    title = $('option:selected', this).val('0').text();
                }
                $(this)
                .css({ 'opacity': 0 })
                .after('<span class="select" id="sp' + id + '">' + title + '</span>')
                .change(function () {
                    val = $('option:selected', this).text();
                    $(this).next().text(val);
                })
            });

        });
        </script>
}