@model RentalHouseFinding.Models.Provinces

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Provinces</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lat)
    </div>

    <div class="display-label">Lon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lon)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
