@model IEnumerable<RentalHouseFinding.Models.Provinces>

@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Lat
        </th>
        <th>
            Lon
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Edit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lon)
        </td>
        <td>
            @Html.ActionLink("Quận/Huyện", "Index", "ManageDistrict", new { provinceId = item.Id}, null)
        </td>
    </tr>
}

</table>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>