@model IEnumerable<RentalHouseFinding.Models.Provinces>

@{
    ViewBag.Title = "Quản lí tỉnh/thành"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <tr>
        <th>
            STT
        </th>
        <th>
            Tên
        </th>
        <th>
            Kinh độ
        </th>
        <th>
            Vĩ độ
        </th>
        <th>
            Quận/Huyện
        </th>
    </tr>
@{
    int i = 1;
    foreach (var item in Model) {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id=item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>
            <td>
                @Html.ActionLink("Quận/Huyện", "Index", "ManageDistrict", new { provinceId = item.Id}, null)
            </td>
        </tr>
        i += 1;
    }
}
</table>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>